<form [formGroup] = "form">
    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <label class="form-label text-start w-100" for="userName">User Name</label>
                    <input readonly id="userName" formControlName="userName" class="form-control">
                </div>
                <div class="col-12">
                    <label class="form-label text-start w-100" for="firstName">First Name</label>
                    <input readonly id="firstName" formControlName="firstName" class="form-control">
                </div>
                <div class="col-12">
                    <label class="form-label text-start w-100" for="lastName">Last Name</label>
                    <input readonly id="lastName" formControlName="lastName" class="form-control">
                </div>
                <div class="col-12">
                    <label class="form-label text-start w-100" for="email">Email</label>
                    <input readonly id="email" formControlName="email" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-12">
                <label class="form-label text-start w-100" for="birthDate">Birth Date</label>
                <input readonly id="birthDate" disabled [value]="formattedDate" class="form-control">
            </div>
            <div class="col-12">
                <label class="form-label text-start w-100" for="basicSalary">Basic Salary</label>
                <input readonly id="basicSalary" formControlName="basicSalary" class="form-control"
                currencyMask [options]="{ align: 'left', prefix: 'Rp.', thousands: '.', decimal: ',' }">
            </div>
            <div class="col-12">
                <label class="form-label text-start w-100" for="status">Status</label>
                <input readonly id="status" formControlName="status" class="form-control">
            </div>
            <div class="col-12">
                <label class="form-label text-start w-100" for="group">Group</label>
                <input readonly id="group" formControlName="group" class="form-control">
            </div>
        </div>
        <div class="col-4 text-start">
            <label class="form-label text-start w-100" for="description">Description</label>
            <textarea style="height: 115px;" readonly id="description" formControlName="description" class="form-control"></textarea>
        </div>
    </div>
</form>